#viewerBox {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.25));
}
#toolbar {
  background: white;
}
#footer p {
  color: rgba(0,0,0,0.4);;
}
button {
  background: linear-gradient(#efeae1, #dbd7d0);
  color: #7a7771;
}
button:hover {
  background: #bcb8b1;
  color: black;
}
button.active {
  background: linear-gradient(#e5c804, #FFDE00);
  color: black;
}
button.active.outlineButton {
  background: black;
  color: white;
}
.disabled {
  display: none;
}
button.small-button {
  width: 100px;
}
button.fa {
  font-size: 15px;
  font-weight: normal;
}
h1, p, a {
  font-family: sans-serif;
}
input {
  text-align: center;
  height: 30px;
}
button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  height: 36px;
  margin: 0 2px;
  padding: 10px;
}
input::placeholder {
  font-style: italic;
}
.clear {
  clear: both;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-grow-box {
  flex-grow: 1;
}
#toolbar {
  margin: 10px 0;
  padding: 6px;
}
.buttonContainer {
  padding: 5px;
  margin: 2px 5px;
  background: white;
}
.buttonContainer p {
  color: #7a7771;
  margin: 0 2px;
  padding: 0 10px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
#outline {
  height: 80vh;
  overflow: auto;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.95));
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  width: 100%;
  z-index: 1000;
  position: absolute;
}
#outline h1 {
  color: white;
  margin: 10px 20px;
}
#outline a {
  color: white;
}
#outline a:hover {
  color: #FFDE00;
  font-weight: bold;
}
.outline-list {
  cursor: pointer;
  margin: 0;
  padding: 5px 5px 5px 25px;
  line-height: 20px;
  list-style-type: none;
}
.outline-main-item {
  font-weight: bold;
  color: white;
}
.outline-sub-item {
  list-style-type: square;
}
.pdfViewer.removePageBorders .page {
  border: 1px solid black;
}

#viewerBox {
  height: 80vh;
}

#viewerBox .error {
  height: 80vh;
  line-height: 80vh;
  margin: 0 2px;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255,255,255,0.7);
}

#footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
#footer p {
  margin: 0 2px;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
