<div id="toolbar">

  <div class="buttonContainer flex-container">
    <button [class.disabled]="!pdfViewer.isDocumentLoaded()" class="flex-grow-box outlineButton fa fa-bookmark"
       (click)="toggleOutline()" type="button" [class.active]="outline"></button>
    <button class="flex-grow-box fa fa-folder-open" (click)="urlField.click()" type="button"></button>
    <input style="display: none;" #urlField class="flex-grow-box" type="file" (change)="openDocument(urlField.files)">
    <button [class.disabled]="!pdfViewer.isDocumentLoaded()" class="flex-grow-box fa fa-arrow-circle-o-right" (click)="setActiveMenu(3)" type="button" [class.active]="isActiveMenu(3)"></button>
    <button [class.disabled]="!pdfViewer.isDocumentLoaded()" class="flex-grow-box fa fa-arrows" (click)="setActiveMenu(4)" type="button" [class.active]="isActiveMenu(4)"></button>
    <button [class.disabled]="!pdfViewer.isDocumentLoaded()" class="flex-grow-box fa fa-search" (click)="setActiveMenu(2)" type="button" [class.active]="isActiveMenu(2)"></button>
    <button [class.disabled]="!pdfViewer.isDocumentLoaded()" class="flex-grow-box fa fa-rotate-left" (click)="setActiveMenu(5)" type="button" [class.active]="isActiveMenu(5)"></button>
  </div>

  <div class="flex-container buttonContainer" *ngIf="isActiveMenu(2)">
    <input class="flex-grow-box" type="text" [(ngModel)]="searchBox" (keyup.enter)="searchText(searchBox)" placeholder="Search..." value="{{lastSearch}}">
    <button class="small-button fa fa-search" (click)="searchText(searchBox)" type="button"></button>
    <button class="small-button fa fa-angle-left" (click)="pdfViewer.previousMatch()" type="button" *ngIf="pdfViewer.hasMatches()"></button>
    <button class="small-button fa fa-angle-right" (click)="pdfViewer.nextMatch()" type="button" *ngIf="pdfViewer.hasMatches()"></button>
    <p style="flex-grow: 5;" *ngIf="!pdfViewer.isSearching()">Matches: {{pdfViewer.getNumberOfMatches()}}</p>
    <p style="flex-grow: 5;" *ngIf="pdfViewer.isSearching()">Searching...</p>
  </div>

  <div class="flex-container buttonContainer" *ngIf="isActiveMenu(3)">
    <button class="flex-grow-box fa fa-angle-double-left" (click)="pdfViewer.firstPage()" type="button"></button>
    <button class="flex-grow-box fa fa-angle-left" (click)="pdfViewer.prevPage()" type="button"></button>
    <button class="flex-grow-box fa fa-angle-right" (click)="pdfViewer.nextPage()" type="button"></button>
    <button class="flex-grow-box fa fa-angle-double-right" (click)="pdfViewer.lastPage()" type="button"></button>
    <input class="flex-grow-box" type="number" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="pageBox" (keyup.enter)="pdfViewer.navigateToPage(pageBox)" placeholder="Page Number">
    <button class="small-button fa fa-arrow-circle-right" (click)="pdfViewer.navigateToPage(pageBox)" type="button"></button>
  </div>

  <div class="flex-container buttonContainer" *ngIf="isActiveMenu(4)">
    <button class="flex-grow-box fa fa-search-plus" (click)="pdfViewer.zoomIn()" type="button"></button>
    <button class="flex-grow-box fa fa-search-minus" (click)="pdfViewer.zoomOut()" type="button"></button>
    <button class="flex-grow-box" (click)="pdfViewer.zoomReset()" type="button">1:1</button>
    <button class="flex-grow-box fa fa-arrows-alt" (click)="pdfViewer.zoomFit()" type="button"></button>
    <button class="flex-grow-box fa fa-arrows-h" (click)="pdfViewer.zoomFitWidth()" type="button"></button>
  </div>

  <div class="flex-container buttonContainer" *ngIf="isActiveMenu(5)">
    <button class="flex-grow-box fa fa-rotate-left" (click)="pdfViewer.turnLeft()" type="button"></button>
    <button class="flex-grow-box fa fa-circle-o-notch" (click)="pdfViewer.resetRotation()" type="button"></button>
    <button class="flex-grow-box fa fa-rotate-right" (click)="pdfViewer.turnRight()" type="button"></button>
  </div>

</div>

<div id="outline" *ngIf="pdfViewer.hasOutline() && outline">
  <h1>Table of Content</h1>
  <ul *ngFor="let item of pdfViewer.getOutline()" class="outline-list">
    <li>
      <a (click)="pdfViewer.navigateToDestination(item.dest)" class="outline-main-item">{{ item.title }}</a>
      <ul class="outline-sub-item" *ngFor="let child of item.items">
        <li><a (click)="pdfViewer.navigateToDestination(child.dest)">{{ child.title }}</a></li>
      </ul>
    </li>
  </ul>
</div>

<div id="viewerBox">
  <p class="error" *ngIf="errorMsg.length>0">{{errorMsg}}</p>
  <simple-pdf-viewer #pdfViewer [src]="src1" [startPage]="2" (onProgress)="onProgress($event)" (onError)="error($event)"></simple-pdf-viewer>
</div>

<div id="footer" [class.disabled]="!pdfViewer.isDocumentLoaded()">
  <p>{{pdfViewer.getCurrentPage() + ' / ' + pdfViewer.getNumberOfPages()}} ({{getZoomPercent()}}%)</p>
</div>
