/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex-container {
  display: flex;
  justify-content: normal;
  align-items: normal;
}

textarea:focus, input:focus{
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 0.5px solid #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b98b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}